@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br/>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum velit laoreet id donec ultrices. 
    Mauris in aliquam sem fringilla ut morbi tincidunt. Adipiscing commodo elit at imperdiet dui accumsan sit amet nulla. Non enim praesent elementum facilisis leo vel 
    fringilla est. Elementum eu facilisis sed odio morbi. Vitae elementum curabitur vitae nunc sed. Faucibus vitae aliquet nec ullamcorper. Mauris rhoncus aenean vel elit 
    scelerisque mauris pellentesque pulvinar pellentesque. Sit amet purus gravida quis blandit turpis cursus in hac.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum velit laoreet id donec ultrices.
    Mauris in aliquam sem fringilla ut morbi tincidunt. Adipiscing commodo elit at imperdiet dui accumsan sit amet nulla. Non enim praesent elementum facilisis leo vel
    fringilla est. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Sit amet purus gravida quis blandit turpis cursus in hac.
</p>
